<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hboxtv">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HBoxTv"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.SubscriptionActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activities.ContactUsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.ChannelsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.SeriesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.SettingsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.ReplayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.TvShowsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.VideoClubActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.LiveTvActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.SignInActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>